﻿@{
    ViewBag.Title = "Chat";
}

<br />

<div class="row">
    <div class="col-md-5">
        <div class="f>

            <div class="form-group">
                <label class="control-label">Apelido:</label>
                <input type="text" class="form-control" id="displayName" />
            </div>
            <div class="form-group">
                <label class="control-label">Mensagem:</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="message" />
                    <div class="input-group-btn">
                        <input type="button" class="btn btn-primary" id="sendMessage" value="Enviar" />
                    </div>
                </div>
            </div>



        </div>

        <div class="col-md-5">
            <ul id="discussion" class="list-group"></ul>
            </div>
        </div>
    </div>

@section scripts {

    <script src="~/Scripts/jquery.signalR-2.4.0.min.js"></script>
    <script src="~/SignalR/hubs"></script>

    <script>
        var chat = $.connection.chatHub;

        chat.client.addMessageToPage = function (name, message) {
            $('#discussion').append('<li class="list-group-item"><strong>' + htmlEncode(name) + '</strong>: ' + htmlEncode(message) + '</li>');
        }

        $.connection.hub.start().done(function () {
            $('#sendMessage').click(function () {
                if ($('#message').val() !== '') {
                    chat.server.send($('#displayName').val(), $('#message').val());
                }
                $('#message').val('').focus();
            });
        });

        function htmlEncode(value) {
            var encodedValue = $('<div />').text(value).html();
            return encodedValue;
        }
    </script>


}